---
import BorderTeacher from "@/components/BorderTeacher.astro"

const ERRORS = {
	server: "",
}

const userId = Astro.cookies.get("user")

const data = await fetch("https://control-horas-api.onrender.com/class/getclasses", {
	method: "POST",
	headers: {
		"Content-Type": "application/json",
	},
	body: JSON.stringify({
		userId: userId.value,
	}),
})
	.then((response) => response.json())
	.catch((error) => error as Error)

if (data.error) {
	ERRORS.server = data.error
}
---

<section class="my-20 flex flex-col items-center justify-center">
	<a
		href="/createclass"
		class="mx-auto
					w-56
					justify-center
					rounded-full
					bg-orange-500
					py-2
					text-center
					text-lg
					font-bold
					text-white hover:bg-primary"
		>Crear Clases</a
	>
	<div class="my-8">
		<h2 class="mb-4 ml-5 text-base font-bold md:text-2xl lg:text-2xl">Clases creadas:</h2>
		<hr class="mb-8 w-full border-b border-black" />
		<div class="scroll-container overflow-y-scroll px-8 lg:block">
			{
				ERRORS.server && (
					<div class="mb-4 rounded-lg bg-yellow-50 p-4 text-sm text-yellow-800" role="alert">
						<span class="font-medium">{ERRORS.server}</span>
					</div>
				)
			}
			{
				data.map((clase) => (
					<div class="flex items-center gap-8 px-8">
						<a class="transition-transform hover:scale-105" href={`/class/${clase.class_id}`}>
							<BorderTeacher
								title={clase.title}
								fecha={clase.date}
								ambito={clase.subject}
								horaStart={clase.start_at}
								horaFin={clase.end_time}
								nAlumnos={clase.students}
							/>
						</a>
					</div>
				))
			}
		</div>
	</div>
</section>
