---
interface Props {
  type: "text" | "password" | "email";
  id: string;
  content: string;
  placeholder: string;
}

const { type, id, content, placeholder } = Astro.props;
---

<input
  type={type}
  id={id}
  class="border-solid border-b-2 border-black"
  placeholder={placeholder}
/>
<label for={id}>{content}</label>

<style>
  input {
    width: 100%;
    background-color: none;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    outline: none;
  }

  label {
    color: #4c4c4c;
    cursor: pointer;
    position: absolute;
    top: 0;
    transform: translateY(10px);
    transition:
      transform 0.5s,
      color 0.3s;
  }

  input:first-child {
    margin-right: 10em;
  }

  input:focus + label,
  input:not(:placeholder-shown) + label {
    transform: translateY(-12px) scale(1);
    transform-origin: left top;
    color: #e6622e;
  }
</style>
